//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.center-block {
  .center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}


//Margin

.margin-bottom{ margin-bottom: @margin-small; }


//Box

.box{ 
  width: 100%;
  border: 1px solid gray; 
  padding: 30px;
}

.box-small{
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
  width: 130px;
  position: absolute;
  bottom: 10px;
}


// size 
 
.size-extrasmall, 
.size-small, 
.size-smaller, 
.size-medium, 
.size-large, 
.size-larger, 
.size-extralarge { width: 100%; }

.size-extrasmall{ height: 150px; }

.size-small{ height: 230px; }

.size-smaller{ height: 260px; }

.size-medium{ height: 330px; }

.size-large{ height: 400px}

.size-larger{ height: 480px; }

.size-extralarge{ height: 650px; }

.img{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.img1{
  background-image: url('../../img/pink.jpg');
}
